---
interface Props {
  label: string;
  sliderId: string;
}

const { label, sliderId } = Astro.props;
---

<input-slider class="hover:brightness-105">
  <label class="pb-3" for="mySlider">{label}</label>
  <div class="flex gap-2 items-center">
    <input
      type="range"
      id={sliderId}
      class="slider"
      min="1"
      max="10"
      value="1"
    />
    <span id={`value-${sliderId}`} class="w-4">1s</span>
  </div>
</input-slider>

<style style="scss">
  input[type="range"] {
    @apply appearance-none h-2 w-full rounded-full  bg-transparent relative cursor-pointer shadow-indigo shadow-[0_0_0_1px] shadow-[0_0_0_1px_inset];

    &::-webkit-slider-thumb {
      @apply appearance-none bg-indigo w-5 h-5 rounded-full transition-all hover:scale-105 active:scale-100;
    }

    &::-moz-range-thumb {
      @apply appearance-none bg-indigo w-5 h-5 rounded-full transition-all hover:scale-105 active:scale-100;
    }

    &::-ms-thumb {
      @apply appearance-none bg-indigo w-5 h-5 rounded-full transition-all hover:scale-105 active:scale-100;
    }
  }
</style>

<script>
  // Define the behaviour for our new type of HTML element.
  class InputSlider extends HTMLElement {
    connectedCallback() {
      const inputSlider = this.querySelector("input") as HTMLInputElement;
      const valueSpan = this.querySelector("span") as HTMLSpanElement;

      // Each time the button is clicked, update the count.
      inputSlider.addEventListener("input", () => {
        const val = (parseInt(inputSlider.value) - 1) * 11.11;
        console.log(val);
        valueSpan.textContent = inputSlider.value + "s";
        inputSlider.style.background = `linear-gradient(to right, #BFBCDC ${val}%, #fff0 ${val}%)`;
      });
    }
  }

  // Tell the browser to use our AstroHeart class for <astro-heart> elements.
  customElements.define("input-slider", InputSlider);
</script>
